<div class="container">
    <div class="The-best-acc-container"> 
        <div fxFlex fxFlexAlign="end">
            <button class="The-best-acc-button" mat-stroked-button color="primary">
                Book Now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout='row' fxLayout='column' fxLayoutAlign='center'>
        <div>
          <h1>
            The most relaxing room ever!
          </h1>  
        </div >
    </div>
</div>

<section class="home-section">
    <div fxLayout='column' fxFlexAlign='center'>
        <div fxLayout='column' fxFlexAlign='center'>
            <h3 class="mat-subheading-3">
            "Best room I have ever stayed", Elvis Presley
            </h3>
        </div>
     <div fxLayout='column' fxFlexAlign='center'>
            <h3 class="mat-subheading-3">
                "Best place on Earth", Michael Jackson
            </h3>
        </div>
    </div>

    <!--<div fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
        teste
    </div>-->
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="best-room-year-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Private Beach</h2>
                </mat-card-header>         
        </mat-card>

        <mat-card class="best-room-month-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Bathroom</h2>
                </mat-card-header>      
        </mat-card>
    </div>
</section>