<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Bravo-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Bravo</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$750,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Hotel-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Omega</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$650,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Golf-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Golf</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$500,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Alfa-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Alfa</h2>
                    <mat-icon>loyalty</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$500,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Charlie-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Charlie</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$350,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Foxtrot-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Foxtrot</h2>
                    <mat-icon>loyalty</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$300,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="best-room-Echo-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Echo</h2>
                    <mat-icon>loyalty</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$250,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Delta-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Delta</h2>
                    <mat-icon>loyalty</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$200,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>

