<div class="container">
    <div class="The-best-acc-container"> 
        <div fxFlex fxFlexAlign="end">
            <button class="The-best-acc-button" mat-stroked-button color="primary">
                The Best Accomodation
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout='row' fxLayout='column' fxLayoutAlign='center'>
        <div>
          <h1>
            The Best Places to Relax
          </h1>  
        </div >
    </div>
</div>

<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Alfa-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Alfa</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$5000,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Bravo-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Bravo</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$7500,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Charlie-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Charlie</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$3500,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Delta-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Delta</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$2000,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Echo-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Echo</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$2500,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Foxtrot-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Foxtrot</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$3000,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="best-room-Golf-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Golf</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$5000,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Hotel-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Hotel</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$6500,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>

