<div class="container">
    <div class="The-best-acc-container"> 
        <div fxFlex fxFlexAlign="end">
            <a mat-list-item [routerLink]="['/accomodation/rooms']" (click)="onToggleClose()">
                <button class="The-best-acc-button" mat-stroked-button color="primary">
                    The Best accomodation
                </button>
            </a>
        </div>
    </div>

    <div class="header-container" fxLayout='row' fxLayout='column' fxLayoutAlign='center'>
        <div>
          <h1>
            The Best Hotels in Porto Alegre for a Businessman
          </h1>  
        </div >
    </div>
</div>

<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Alfa-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Alfa</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$500,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Bravo-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Bravo</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$750,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Charlie-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Charlie</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$350,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Delta-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Delta</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$200,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Echo-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Echo</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$250,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Foxtrot-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Foxtrot</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$300,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="best-room-Golf-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Golf</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$500,00/d</button>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Hotel-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Paradise Hotel</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">$650,00/d</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>

