<div class="container">
    <div class="The-best-acc-container"> 
        <div fxFlex fxFlexAlign="end">
            <a mat-list-item [routerLink]="['/accomodation/room-bravo']" (click)="onToggleClose()">
                <button class="The-best-acc-button" mat-stroked-button color="primary">
                    The Best accomodation
                </button>
            </a>
        </div>
    </div>

    <div class="header-container" fxLayout='row' fxLayout='column' fxLayoutAlign='center'>
        <div>
          <h1>
            The Best Hotels in Porto Alegre for a Businessman
          </h1>  
        </div >
    </div>
</div>

<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Alfa-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Alfa</h2>
                    <mat-icon>stars</mat-icon>
                    <mat-icon>loyalty</mat-icon>
                    <mat-icon>signal_wifi_4_bar</mat-icon>
                    <mat-icon>emoji_food_beverage</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-alfa']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Bravo-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Bravo</h2>
                    <mat-icon>stars</mat-icon>
                    <mat-icon>loyalty</mat-icon>
                    <mat-icon>signal_wifi_4_bar</mat-icon>
                    <mat-icon>commute</mat-icon>
                    <mat-icon>emoji_food_beverage</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-bravo']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>    
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Charlie-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Charlie</h2>
                    <mat-icon>signal_wifi_4_bar</mat-icon>
                    <mat-icon>emoji_food_beverage</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-charlie']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Delta-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Delta</h2>
                    <mat-icon>loyalty</mat-icon>
                    <mat-icon>signal_wifi_off</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-delta']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center'>
        <mat-card class="best-room-Echo-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Echo</h2>
                    <mat-icon>loyalty</mat-icon>
                    <mat-icon>signal_wifi_4_bar</mat-icon>
                    <mat-icon>emoji_food_beverage</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-echo']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Foxtrot-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Foxtrot</h2>
                    <mat-icon>loyalty</mat-icon>
                    <mat-icon>signal_wifi_4_bar</mat-icon>
                    <mat-icon>commute</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-foxtrot']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>
<section class="home-section">
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="best-room-Golf-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Golf</h2>
                    <mat-icon>signal_wifi_4_bar</mat-icon>
                    <mat-icon>commute</mat-icon>
                    <mat-icon>emoji_food_beverage</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-golf']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>

                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-Hotel-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Hotel Omega</h2>
                    <mat-icon>signal_wifi_4_bar</mat-icon>
                    <mat-icon>emoji_food_beverage</mat-icon>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/room-omega']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>

