.container {
    background: url(/assets/Images/caribe_room.jpg) no-repeat;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    height: calc(100vh - 145);
}

.The-best-acc-container {
    padding: 35px 115px;
}

.The-best-acc-button {
    width:  200px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 4px;
}

.header-container {
    padding: 80px 20px;
    height: 100vh;
    text-align: center;
    max-width: 1000px;
    color: black;
    /*color: white;
    border-bottom-style: solid;
    margin-bottom: 40px;
    border-bottom-width: 0px;
    margin-top: 180px;*/
}


.home-section p {
    text-align: center;
    line-height: normal;
}

.rooms-home-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}
.rooms-home-display .mat-card {
    position: relative;
    text-align: center;
}

.rooms-home-display mat-card {
    height: 600px;
}

.rooms-home-display mat-card-header h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 24px;
    line-height: 10px;

}
.rooms-home-display mat-card-header{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    height: 55px;
    background: rgba(255, 248, 225, .6);
}

.rooms-home-display mat-card-actions {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rooms-home-display mat-card button {
    min-width: 141px;
    min-height: 40px;
}

.Bathroom-display {
    background: url(/assets/Images/bathroom_charlie.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.Bed-display {
    background: url(/assets/Images/bed_charlie.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}
.Breakfast-display {
    background: url(/assets/Images/breakfast_charlie.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}
/*.home-section .mat-subheading-2 {
    text-align: center;
    line-height: normal;
}

.home-section .mat-subheading-3 {
    text-align: center;
    line-height: normal;
}*/
