<div class="container">
    <div class="book-now-container"> 
        <div fxFlex fxFlexLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                Book Now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
        <div>
            <h3>
                Book With Us!
            </h3>
          <h1>
            Duck Donald's Booking
          </h1>  
        </div >
    </div>
</div>