<div class="container">
    <div class="book-now-container"> 
        <div fxFlex fxFlexAlign="end">
            <a  mat-list-item [routerLink]="['/accomodation']" (click)="onToggleClose()">
                <button class="book-now-button" mat-stroked-button color="primary">
                    Book Now
                </button>
            </a>
        </div>
    </div>
    <div class="header-container" fxLayout='row' fxLayout='column' fxLayoutAlign='center center'>
        <div>
            <h3>
               Welcome to the 3D booking!
            </h3>
          <h1>
            Duck Donald's Domain
          </h1>  
        </div >
    </div>
</div>

<section class="home-section">
    <div fxLayout='column' fxFlexAlign='center'>
        <div fxLayout='column' fxFlexAlign='center'>
            <h2 class="mat-subheading-2">
            The best booking page of the new centurie!
            </h2>
        </div>
        <div fxLayout='column' fxFlexAlign='center'>
            <h3 class="mat-subheading-3">
                Best Offers in the market just for you!
            </h3>
        </div>
    </div>

    <!--<div fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
        teste
    </div>-->
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="best-room-year-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Best Hotel of the Year</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <a mat-list-item [routerLink]="['/accomodation/rooms']" (click)="onToggleClose()">
                        <button mat-raised-button color="primary">Explore</button>
                    </a>
                </mat-card-actions>          
        </mat-card>

        <mat-card class="best-room-month-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Best Hotel of the Month</h2>
                </mat-card-header>
                <mat-card-actions fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <button mat-raised-button color="primary">Explore</button>
                </mat-card-actions>          
        </mat-card>
    </div>
</section>

<div fxLayoutAlign='center'>
    <p class="mat-body-1">
        Our developer life in a nutshell:
        mom - "He's so smart"
        dad - "That my boy"
        gf  - "Babe, I want attention"
    </p>
</div>