<div class="container">
    <div class="The-best-acc-container"> 
        <div fxFlex fxFlexAlign="end">
            <button class="The-best-acc-button" mat-stroked-button color="primary">
                Book Now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout='row' fxLayout='column' fxLayoutAlign='center'>
        <div>
          <h2>
            The most complete room ever!
          </h2>  
        </div >
    </div>
</div>

<section class="home-section">
    <div fxLayout='column' fxFlexAlign='center'>
        <div fxLayout='column' fxFlexAlign='center'>
            <h3 class="mat-subheading-3">
            "Near downtown of Porto Alegre", Elvis Presley
            </h3>
        </div>
     <div fxLayout='column' fxFlexAlign='center'>
            <h3 class="mat-subheading-3">
                "Best place for a businessman", Abraham Lincoln
            </h3>
        </div>
        <div fxLayout='column' fxFlexAlign='center'>
            <h3 class="mat-subheading-3">
                Wifi Free
                <mat-icon>signal_wifi_4_bar</mat-icon>
            </h3>
        </div>
    </div>
    <div fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
        Book Now and get 50% OFF!
        <mat-icon>loyalty</mat-icon>
    </div>

    <!--<div fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
        teste
    </div>-->
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="Bathroom-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Bathroom</h2>
                </mat-card-header>         
        </mat-card>

        <mat-card class="Subway-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>A Near Subway Station</h2>
                </mat-card-header>      
        </mat-card>
    </div>
    <div class="rooms-home-display" fxLayout.xs='column' fxLayout='row' fxLayoutAlign="center">
        <mat-card class="Bed-display" fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Confortable Bed</h2>
                </mat-card-header>         
        </mat-card>

        <mat-card class="Breakfast-display"  fxFlex='50'>
                <mat-card-header fxLayout='column' fxLayout='row' fxLayoutAlign='center'>
                    <h2>Breakfast</h2>
                </mat-card-header>      
        </mat-card>
    </div>

</section>
